@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

/* 1. Define your dynamic variables */
:root {
  --border-adaptive: rgba(0, 0, 0, 0.1);
}
.dark {
  --border-adaptive: rgba(255, 255, 255, 0.1);
}

@theme {
  --font-geist: "Geist", sans-serif;
  --color-border-adaptive: var(--border-adaptive);
}

/* Custom utilities for the gradients */
.bg-dark-gradient {
  background-color: #030303;
  background-image: radial-gradient(circle at top, #163352 -35%, #030303 100%);
}

.bg-light-gradient {
  background-color: #ffffff;
  background-image: radial-gradient(circle at top, #e0f2fe -35%, #ffffff 100%);
}

@layer base {
  body {
    @apply transition-colors duration-500;
    margin: 0;
    padding: 0;
  }
}

@keyframes flow-v4 {
  0% {
    background-position: -100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-flow-cyan {
  background-size: 200% 100%;
  animation: flow-v4 3s linear infinite;
}
